


<article>
    <div>
     <h1 style="padding-left: 300px;color: #ff0000;">About IIT Bombay </h1> 
      <div class="AboutContent">
     <p style="text-indent: 80px;">Established in 1958, the second of its kind, IIT Bombay was the first to be set up with foreign assistance.
       The funds from UNESCO came as Roubles from the then Soviet Union. In 1961 Parliament decreed the  IITs as 
        ‘Institutes of National Importance'. Since then, IITB has grown from strength to strength to emerge as one of the top
         technical universities in the world.
        </p>
       <p style="text-indent: 120px;">The institute is recognised worldwide as a leader in the field of engineering education 
        and research. Reputed for the outstanding calibre of students graduating from its undergraduate and postgraduate programmes,
         the institute attracts the best students from the country for its bachelor's, master's and doctoral programmes. Research 
         and academic programmes at IIT Bombay are driven by an outstanding faculty, many of whom are reputed for their research 
         contributions internationally.
         </p> 
      
       <p style="text-indent: 120px;">IIT Bombay also builds links with peer universities and institutes,
         both at the national and the international levels, to enhance research and enrich its educational programmes. 
         The alumni have distinguished themselves through their achievements in and contributions to industry, academics, 
         research, business, government and social domains. The institute continues to work closely with the alumni to enhance
          its activities through interactions in academic and research programmes as well as to mobilise financial support.
         </p> 
      
      <p style="text-indent: 120px;">Over the years, the institute has created a niche for its innovative short-term courses 
        through continuing education and distance education programmes. Members of the faculty of the institute have won
         many prestigious awards and recognitions, including the Shanti Swaroop Bhatnagar and Padma awards.
        </p>
      </div>


                  <h1 style="padding-left: 300px;color: #ff0000;">R and D</h1>
     <p style="text-indent: 120px;"> In a world increasingly propelled by technology, university research is the foundation 
      of any nation's economic growth. And  IIT Bombay is committed to basic long-term research in frontier areas.
     </p>
       <p style="text-indent: 120px;">IIT Bombay has made concerted efforts to align its R&D focus with the national goal of 
        achieving technological self-reliance. Students and faculty conduct research projects in thrust areas of science and
         engineering. The institute has ongoing academic and research collaborations with many national and international 
         universities, governments and industries in order to keep pace with expanding frontiers of knowledge and global 
         developments; it is also constantly in touch with national needs. Its pre-eminent position at the cutting-edge of 
         research is reflected in its impressive list of research projects, which cater to both our national needs and global
          developments.  The research funding and industrial interactions of the institute is managed by the Industrial Research 
          and Consultancy Center (IRCC). For details regarding available areas of expertise, consultancy services, research 
          racilities, technologies for transfer and licensing, research internship, and industry research partnership </p>



                    
            
            <h1 style="padding-left: 300px;color: #ff0000;">Placements</h1>
  
            <p style="text-indent: 120px;"> The members of the faculty of IIT Bombay are engaged in a wide range of activities
               besides substantial academic and research commitments. They contribute significantly to the country's growth in 
               science and technology by making their services available to various national and state level committees. A highly 
               motivated staff support the institute's general administration, teaching and research. IITB provides a reasonably 
               flat organisational environment and work culture for both its faculty and staff. Those who choose IITB as their 
               "permanent" address enjoy certain distinct advantages. 
              </p>
            <p style="text-indent: 120px;">   
              IITB faculty and staff have the added advantage of being able to choose from a variety of schools 
               within and outside the institute's campus for their children. A highly rated Kendriya Vidyalaya is 
               located within the campus, and there is a wide choice of schools affiliated to different boards and
                subscribing to different educational philosophies outside the campus. The campus also hosts a well
                 managed Child Care (Day Care) Center for its residents.
            </p>
            
            <p style="text-indent: 120px;">  IITB continues to attract toppers in the highly competitive common IIT entrance
               examinations, the JEE for undergraduate courses and GATE for postgraduate studies.
            </p>
    </div>
    </article>
    

    <aside >

     
        <div>
          <img src="iitb.jpg" alt="" id="one">
        </div>

     
    </aside>
   
   