


<article>
    <div>
     <h1 style="padding-left: 300px;color: #ff0000;">About IIT Kanpur </h1> 
      <div class="AboutContent">
     <p style="text-indent: 80px;"> Soon after the five IITs were set up, Prime Minister Pandit Jawaharlal Nehru had
       realized that to keep pace with the ever changing world of science and technology, it is necessary to collaborate 
       closely with the outside world. The Kanpur Indo-American Programme (1962-1972) at IIT-Kanpur was a stride in this 
       direction. During the period 1962-72, the Institute received technical assistance under KIAP from a consortium of nine 
       leading Institutions of U.S.A. Under the program, faculty members from these Institutions assisted the Institute in 
       the setting up of the academic programs and development of laboratories for instruction as well as research.  
      </p>
      
       <p style="text-indent: 120px;"> Indian Institute of Technology, Kanpur is one of the premier institutions established by 
        the Government of India. The aim of the Institute is to provide meaningful education, to conduct original research of the 
        highest standard and to provide leadership in technological innovation for the industrial growth of the country. 
        The Institute began functioning in the borrowed building of Harcourt Butler Technological Institute in 1959 with 100 
        students and a small faculty. The Institute now has its own sprawling residential campus, about 2255 undergraduate and 
        1476 postgraduate students, 309 faculty and more than 900 supporting staff. The combined record of its past and present 
        faculty and students along with the alumni spread across the world is awe-inspiring. With the path-breaking innovations 
        in both its curriculum and research, the Institute is rapidly gaining a legendary reputation  </p> 
      
       <p style="text-indent: 120px;">IIT-Kanpur is located on the Grand Trunk Road, 15 km west of Kanpur City and measures close
         to 420 hectares. This land was gifted by the Government of Uttar Pradesh in 1960 and by March 1963 the Institute had moved
          to its current location. If someone had visited it then, he/she would have seen a standing crop, acacia woods, a long 
          winding line of stately mango trees, flocks of peafowl and a conventional country side scene of India. The residential 
          campus is planned and landscaped with a hope for environmental freedom. Halls of residence, faculty and staff houses and
           community buildings surround the central academic area to provide flexibility in movement and communication. The person
            who brought this mammoth transformation was Mr.Achyut Kanvinde, a Delhi-based architect. Since the beginning, the 
            Institute has attracted scholars from across the country. The rich cultural diversity of India is reflected in the 
            campus activities of IIT-K as well. </p> 
      
      
      </div>


                  <h1 style="padding-left: 300px;color: #ff0000;">R and D</h1>
     <p style="text-indent: 120px;"> Condensation in the presence of non-condensable is an area of concern for long time especially in nuclear 
      reactor containment cooling system. In recent years, lot of research work is being carried out for effectively predicting 
      the condensation phenomena in nuclear reactor containments. This proposed research work would explore the condensation on 
      nuclear reactor containment walls (steel/concrete with epoxy coating) through dedicated experiments, and would generate 
      sufficient data for improvement of CFD based containment thermal hydraulics framework, based on local measurement of 
      parameters viz. condensate film thickness, gas and wall temperatures and pressures, bulk gas concentrations, 
      dynamics of condensate film via imaging etc. The condensation will take place over vertical flat plate 
      (made of steel/ concrete with epoxy paint coating) placed centrally inside a rectangular test facility, 
      injected with helium gas as the simulator for hydrogen. The experiments will be performed at different 
      operating conditions viz., steam pressure, temperature, helium concentration, and upward or downward flow configurations, 
      etc. The measurement of local film thickness will be carried out by non-intrusive optical means. The local heat transfer will 
      be measured by using heat flux sensors placed vertically along the length of the plate. The generated data will be used for the 
      measurement of local and average heat transfer coefficient. Comparison/ validation of experimental data will be done with 
      existing heat transfer models and numerical results. Design equations shall be improved/ new equations will be generated
       based on the experimental data.
       </p>
       
            <h1 style="padding-left: 300px;color: #ff0000;">Placements</h1>
  
            <p style="text-indent: 120px;">  With the dynamic nature of competitive market, the need of exceptional technical 
              talent clubbed with inter-personal managerial skills inherently form the underlying requirement of working in global 
              firms. The exceeding expectations from a graduating student have created a zone of opportunity for students of Indian 
              Institute of Technology (IIT) Kanpur. The innate build-up of strong foundation and skill-set training, imparted to the 
              students of IIT Kanpur, naturally prepares them to face today’s competitive world. The rigour in teaching, strive to
               excelling in all facets, learning from top-class researchers, undertaking top-class thesis and projects, managing 
               international technical-conferences, and participating in extra co-curricular activities inculcate definite excellence. 
               This characteristic of complete development of students at IIT Kanpur makes them distinctive leaders of tomorrow.
          </p>
            <p style="text-indent: 120px;"> Students’ Placement Office (SPO) at Indian Institute of Technology (IIT) Kanpur provides
               the opportunity to both: firms and students, to express their aspirations, assess the options, and the match with the 
               rightful opportunity. Firms can provide a job-announcement form providing their requirements of technical and
                non-technical needs, and how the firm intends to carry out the assessment process whether for internship or
                 offering campus placement. On the other hand, students submit their résumé and find the firms looking for 
                 their skill-sets. Thus, such a platform becomes a win-win situation for both parties.
            </p>
            
           
    </div>
    </article>
    

    <aside >

     
        <div>
          <img src="iitkan.png" alt="" id="one">
        </div>

     
    </aside>
   
   