


<article>
    <div>
     <h1 style="padding-left: 300px;color: #ff0000;">About IIT Varanasi </h1> 
      <div class="AboutContent">
     <p style="text-indent: 80px;"> IIT (BHU) is an Institute of national importance created by an Act of the Parliament through the Institutes of Technology (Amendment) Act, 2012 vide Gazette Notification dated 29.06.2012. All the IITs are administered centrally by the IIT Council, an apex body established by the Government of India. The Minister of Human Resource & Development, Government of India, is the Chairman of the Council.
   
    </p>
      
       <p style="text-indent: 120px;"> The Senate comprising all professors of the Institute decides the academic policy of the Institute. It controls and approves the curriculum, courses, examinations and results. It appoints committees to look into specific academic matters arising from time to time. The teaching, training and research activities of various departments of the Institute are periodically reviewed to improve facilities and maintain standards. The Director of the Institute is the ex-officio Chairman of the Senate.The Institute has a Director, 5 Deans (Academic Affairs, Resource & Alumni, Research & Development, Student Affairs and Faculty Affairs), Registrar, Heads of the Departments and Coordinators of the schools, who carry out the various functions of the Institute. The Deans, the Registrar, Heads of Departments and Coordinators report to the Director.  </p> 
      
       <p style="text-indent: 120px;"> 
        The Deputy Registrars/Assistant Registrars report to the Deans/the Registrar as per the division of work. Requisite powers have been delegated to the Deans, the Registrar, Heads of Departments and Coordinators of Schools, who are accountable for their actions.</p> 
      
    
      </div>


                  <h1 style="padding-left: 300px;color: #ff0000;">Academics</h1>
     <p style="text-indent: 120px;"> Varanasi, January 6, 2017: Rural Electrification Corporation Limited (REC), A Govt. of India Navratna 
     Enterprise, has agreed to extend a financial assistance of Rs. 1450.00 Lakhs under CSR initiative to Indian Institute of Technology Varanasi
      (IIT Varanasi), for the project ‘Installation of 2 MW rooftop solar panel (SPV) in the academic zone and hostel building’ at IIT Varanasi campus 
      in Chennai, Tamil Nadu. The Memorandum of Agreement (MoA) in this regard was executed today between REC and IIT Varanasi. Ms. S. Jayanthi, Chief Project 
      Manager, REC and Prof. Krishnan Balasubramanian, Dean, Industrial Consultancy and Sponsored Research (ICSR), IIT Varanasi signed the MoA in the presence of other 
      senior officials of REC and IIT Varanasi including Prof. David Koilpillai, Dean Planning, IIT Varanasi and Prof. R. Nagarajan, Dean, International and Alumni Relations,
       IIT Varanasi, among others. Speaking about this CSR initiative, Ms. Jayanthi said, </p>
       <p style="text-indent: 120px;">“We are interested in increasing the generation and consumption of renewable energy all 
       over India. IIT Varanasi has great potential and expertise in this field and that is the reason we decided to support this particular project.” The main objective of
        the project is installation of 2.00 MW roof top solar PV system in the academic zone and hostel zone of IIT Varanasi for power generation in order to reduce peak demand
         from the grid in the campus and also carbon footprint and dependency on non-renewable energy sources. The energy generated by the solar panels will go to
          a centralized grid from where it will be distributed across Campus. “IIT  Varanasi already has 1.1MW solar panels installed on the Campus rooftops. This will
           further help in reducing our dependency on conventional sources of energy. We are thankful to REC for sponsoring a large size project of this nature at IIT Varanasi
           and funding it through their CSR channel,” added Prof. Balasubramanian. The installation of the solar panel is expected to take around 15 months. IIT Varanasi currently has
            CSR activities supported by over 20 companies. </p>



                    
            
            <h1 style="padding-left: 300px;color: #ff0000;">Placements</h1>
  
            <p style="text-indent: 120px;">  All students who expect to graduate from the Institute by the end of the academic year 2019-20 and are seeking employment may register
            3. MS & PhD scholars’ placement will happen round the year. Their registration will be valid for one year only. They can register by attaching a certificate (NOC) & Abstract in the prescribed format available in the Placement website.
            
            Inter-disciplinary (ID) students will be permitted to upload resumes for both the departments as approved at the time of admission to the program. The NoC for ID students must be signed by the guide from both the departments.
            </p>
            <p style="text-indent: 120px;">   Campus placement is a facility provided for the students. Registration is not compulsory. Students not interested in placement are advised not to register for placement.
            
            5. Backlogs: Students having backlog of 4 or more courses are not permitted to register for placement. Such students are advised to clear the backlogs and then register after the July-November end semester examinations. However, extended students can register in case of non-completion of course/project requirements in their last two semesters.
            
            6.  Students who have lost the job for genuine reasons will be allowed to re-register on a case to case basis.
            
            Students who have graduated in 2018, but not placed due to various genuine reasons, may be permitted to re-register with the approval of the concerned authorities. They will be permitted to appear for placement only from Day 3 or later, as approved by the Board of Placements.
            
            
            </p>
            
            <p style="text-indent: 120px;">  Students are advised to read the announcements made, go through the company website and apply only if interested.
            
            9. Students are expected to follow the institute resume template available in the placement website for preparing the resumes.
            
            10. The details given in the resume have to be genuine and any student found violating this rule will be disallowed from the placement for the rest of the academic year.
            
            
            12. Students are advised to avoid last minute uploading, as it may lead to delays and some may even be left out.
            
            </p>
    </div>
    </article>
    

    <aside >

     
        <div>
          <img src="iitv.png" alt="" id="one">
        </div>

     
    </aside>
   
   