<article>
   <div>
    <h1 style="padding-left: 300px;color: #ff0000;">About IIT Delhi</h1> 
     <div class="AboutContent">
    <p style="text-indent: 80px;">IIT Delhi has been critically acclaimed across borders with its renowned alumni 
      holding international positions. It is now recognized as the No.1 Educational Institute of India**. The foundation 
      stone of IIT Delhi was laid in 1959 with the collaboration of UK Government and the Federation of British Industries 
      in London. Getting its first admission in 1961 and being recognised as Institute of national importance in 1963, IIT 
      Delhi has witnessed unprecedented success across various fields, not limited to engineering — even though it is quite young 
      as compared to some of the global universities.  </p>
     
      <p style="text-indent: 120px;"> Office of Career Services is a facilitation unit which is responsible for interacting with various industrial, 
            management and research organisations in the country and abroad with the dual aim of ensuring that the students are given 
            adequate technical exposure / industrial training from 2nd year onwards (B.Tech & Dual) and also enabling them to get 
            employment in organisations whose functional requirements of high calibre engineers, scientists and managers are best 
            met by graduate and post-graduate students of the Institute. </p> 
     
      <p style="text-indent: 120px;">IIT Delhi is a residential institute with nearly 550 faculty, 8000 students and 1250 administrative & supporting staff and 
     is a self-contained campus located in a beautiful wooded land of about 250 hectares. It has established itself as a premier 
     centre for teaching, research and industrial consultancy in the country. </p> 
     
     <p style="text-indent: 120px;">The major functions of this unit are:
      To arrange practical summer training of B.Tech & Dual Degree after 2nd year in partial fulfilment of their degree
       requirements by coordinating with various companies,industries etc to provide relevant projects.
      To invite industries and organisations of repute with the aim of providing employment to students and assisting them 
      in the placement process on IIT Delhi campus.
      To organise lectures and workshops for students to provide supplemental information on career counselling, interview 
      techniques, soft skills development and introduction to industrial sectors / the professional world.</p>
     </div>


                 <h1 style="padding-left: 300px;color: #ff0000;">Academics</h1>
    <p style="text-indent: 120px;">
      IIT Delhi provides science-based engineering education with a view to produce quality engineer-scientists.
       The curriculum provides broad based knowledge and simultaneously builds a temper for the life long process of learning
        and exploring. A student needs to do compulsory foundation courses in the areas of basic sciences, humanities and social 
        sciences and engineering sciences apart from departmental requirements. Departmental courses (core and electives) constitute 
        50% of the total curriculum. The rest are Open Category (OC) courses for interdisciplinary knowledge; Institute Core (IC) 
        like Basic Sciences, Humanities and Social Science; Non graded (NGU) like Social Service, Sports, Design, Ethics; etc. 
        Therefore, the course-structure is extremely flexible, giving due weightage to individual choices and interests </p>

      <p style="text-indent: 120px;">Students utilize the knowledge earned in their respective disciplines for cutting edge research-
             these projects are mandatory and are evaluated by the faculty. This calls for application of knowledge, investigative 
             and disciplined thinking among several other qualities with the purpose of innovating and creating something truly unique. 
             Also, industrial trips to observe the relevant examples and applications, with reference to the course content, are also 
             mandatory. </p>

             <p style="text-indent: 120px;">  The examination system at IIT Delhi, tests the acumen, thoroughness and depth of understanding of the students. 
             In each semester, three examinations- two Minor and one Major (at the end of the semester) test the students 
             exhaustively while quizzes, assignments etc constantly keep them on their toes. Evaluation is done on a scale 
             of 10 by the calculation of the Cumulative Grade Point Average (CGPA) stressing the significance of consistency 
             while the practice of relative grading induces intense competition among the brightest minds of the nation leading 
             to exemplary standards of education. </p>
             <p style="text-indent: 120px;">Beyond the confines of the academic calendar, students use summer and winter vacations to take up internships in various 
                  reputed organizations as well as assignments in educational institutions as a part of a continuous effort to enhance and
                   test their ability and knowledge. Joint student projects under the guidance of senior faculty are also undertaken,
                    sponsored by IIT Delhi itself or by the industry.</p>
             <p style="text-indent: 120px;">The curriculum at IIT Delhi provides for practical training in the summer after the 4th semester 
                  for 40 working days, preferably in an industry or R&D institution—this industrial training provide the essential practical 
                  edge to apply the concepts assimilated by the students in class-rooms and labs. The “Summer Industrial Training” Programme 
                  aims to widen the student's perspective by providing an exposure to real life organizational and environmental situations, 
                  being the most effective aid in enabling the students to relate theory to practice. The organization, in turn benefits from 
                  the objective and unbiased perspective the student provides based on concepts and skills imbibed in the three years at the
                   institute. The “summer trainees” also serve as unofficial spokespersons of the organization and help in image building on 
                   campus.</p>

                   
           
           <h1 style="padding-left: 300px;color: #ff0000;">R and D</h1>
 
           <p style="text-indent: 120px;"> The Institute is actively involved in collaborative research programmes
             with international organizations/universities to remain at the forefront of scientific and technological 
             developments and to share this knowledge. A large number of collaborative Research Projects are under operation 
             with Institutes/Organizations of many countries. Major research activities have also been undertaken in the areas 
             of national importance.hey can register by attaching a certificate (NOC) & Abstract in the prescribed format 
             available in the Placement website. </p>

           <p style="text-indent: 120px;">  In an effort to encourage research and development at grass root level,
             undergraduate students at the Institute are encouraged to inculcate their activities towards research while 
             pursuing studies. To achieve this, a scheme called Summer Undergraduate Research Award (SURA) was introduced. 
             Under this scheme, students are required to submit the project proposals in association with identified Faculty 
             of the Department/Centre to act as an Administrative Facilitator and a Guide.
           </p>
           
           <p style="text-indent: 120px;"> Various units within IIT Delhi like Industrial Ressearch & Development Unit (IRD), 
            Foundation For Innovation And Technology Transfer (FITT), etc, are set up to facilitate Research, Development and Consulting.
             Faculty and students are actively involved in working on innovating cutitng edge technologies.
           </p>
   </div>
   </article>
   




   <aside >

    
      
         <img src="iitd.png" alt="" id="one"> 
   

    
   </aside>
  