

div
{ 
    height: 500px;
    width: 200px;
    margin-top: -10px;   
}



a
{
    font-size: large;
    margin-left: 20px;
    color: black;
  

}

a:hover
{
   font-size: x-large;
   color: #051df5;

}