

<div class="section"> 

        <h2 style="padding-top: 10px;padding-left: 15px; color: red;">COLLEGES</h2>
    <div >
     <a [routerLink]="['/roorkee']" >1. IIT Roorkee</a>     <br> <br>
    <a [routerLink]="['/delhi']" >2. IIT Delhi</a>      <br> <br>
    <a [routerLink]="['/bombay']" >3. IIT Bombay</a>     <br> <br>
    <a [routerLink]="['/khar']" >4. IIT Kharagpur</a>   <br> <br>
    <a [routerLink]="['/kanpur']" >5. IIT Kanpur</a>      <br> <br>
    <a [routerLink]="['/iitm']" >6. IIT Madras</a>     <br> <br>
    <a [routerLink]="['/guwahati']" >7. IIT Guwahati</a>    <br> <br>
    <a [routerLink]="['/hyd']" >8. IIT Hyderabad</a>   <br> <br>
    <a [routerLink]="['/varanasi']" >9. IIT Varanasi</a>    <br> <br>
    <a [routerLink]="['/indore']" >10. IIT Indore</a>      <br> <br>
</div>
</div>
<router-outlet></router-outlet>
