


<article>
    <div>
     <h1 style="padding-left: 300px;color: #ff0000;">About IIT Kharagpur </h1> 
      <div class="AboutContent">
     <p style="text-indent: 80px;">The Institute organizes various programmes to improve soft skills, professional 
      communication and personality through career counselling by professional agencies/experts. Students are also 
      assisted in preparing professional resumes by conducting resume writing workshops. Management development programs 
      are conducted by experts. The Career Development Centre also assists the departments in organizing Industry oriented
       workshops, leadership talks, lectures, competitions, Curriculum Oriented Career Prospects (COCP) Workshops including 
       specialized niche areas.  </p>
      
       <p style="text-indent: 120px;"> IIT Kharagpur invites the best recruiters in the market 
        during the internship and placement season covering various sectors such as Core Engineering, IT,
         Finance, Consulting, Automobiles, PSUs, etc. The sheer diversity of recruiters across all domains
          and the extensive participation of overseas companies is an epitome of the global stature of the
           brand IIT Kharagpur.  </p> 
      
       <p style="text-indent: 120px;">The internship and placement trend at IIT Kharagpur has shown that the flexibility 
        in curriculum makes our students fit into any sector such as Core Engineering, IT, Finance, Analytics, 
        Consulting et al. It does not matter which discipline you study, you may make a successful in-road to placement. 
      </p> 
      
      <p style="text-indent: 120px;">More than 1500 students placed every year in 250+ top brands with best compensation packages. 
        KGP students are universally compatible to take up challenges in any of the sector because of the flexibility 
        in our curriculum. The entrepreneurial frame of mind of the students of IIT Kharagpur has also received appreciation
         from the recruiters. The corporate preparedness of the students is indicated by the significantly large number 
         of students hired by the recruiters as compared to other institutes..</p>
      </div>


                  <h1 style="padding-left: 300px;color: #ff0000;">R and D</h1>
     <p style="text-indent: 120px;"> This scheme was launched with a mission to encourage and support
       new faculty members to initiate cutting-edge research in their respective fields of study. The institute provides
        funds up to Rs 25 lakh to new faculty members to acquire equipment and infrastructure pertinent to their research
         with an additional amount of Rs 3 lakh for consumables, contingency etc.
        </p>

       <p style="text-indent: 120px;">The Centre for Excellence in Robotics was set up with an initial funding of Rs 5 crore 
        from IIT Kharagpur in 2015. It is envisioned as an umbrella body, under the aegis of which all robotics-related activities 
        of the Institute will be conducted and coordinated. The main emphasis of the centre is on the design and development of 
        intelligent and autonomous robots and work on research problems and innovative projects that extend the state of the art 
        in robotics. The vision behind it is to promote and encourage student activities, research projects, and relevant courses 
        related to this field. A large number of faculty members as well as students from various departments are part of this centre.
         For more information on this initiative, </p>



                    
            
            <h1 style="padding-left: 300px;color: #ff0000;"> Academics </h1>
  
            <p style="text-indent: 120px;"> The Academy of Classical and Folk Arts aims to nurture the innovation skills
               of the unique talent pool at IIT Kharagpur through India's rich milieu of creative arts. It aims to provide
                a platform for the IIT Kharagpur community to teach and learn various music and creative art forms, explore 
                the scientific and cognitive principles of learning art forms, and translate these principles into a unique 
                pedagogy for learning science and technology. The teaching learning processes of our traditional arts forms 
                are rooted in innovation, which enables for example, a sitarist to render a raga in her own way without 
                adherence to any preset notation. Such abilities, when cultivated over time, develops concentration and 
                confidence, advanced left-brain right-brain coordination, and superior innovation skills, all of which are 
                recipes for excellence in scientific creativity.  
            </p>
            <p style="text-indent: 120px;">  The objective goals of the academy consist of education, outreach, heritage preservation,
               research and innovation. The education offerings include regular training on music and fine arts, periodic workshops
                and thematic sessions, and micro-credit courses connecting science and heritage. The outreach activities aim to 
                touch participants all across the world through MOOCS courses and live classes, with the goal of exposing them 
                to the unique creative liberty and deep scientific foundations of Indian Classical Music.
            </p>
            
            <p style="text-indent: 120px;">  The Academy aims to work with experts on digital humanities across the globe 
              with the aim of preserving unique artifacts of our heritage.  In our 100 ragas mission led by Pt Ajoy Chakraborty, 
              we aim to formulate the deep structure of Indian ragas as semi-lexical languages and archive the deep structure of 
              100 popular ragas. Finally the cornerstone of the Academy is research and innovation to reinvigorate the practice of 
              Classical and Folk Arts through scientific innovations, ranging from manufacturing of instruments to developing a 
              modern pedagogy of teaching-learning.
            </p>
    </div>
    </article>
    

    <aside >

     
        <div>
          <img src="iitkhar.png" alt="" id="one">
        </div>

     
    </aside>
   
   