<article>
    <div>
     <h1 style="padding-left: 300px;color: #ff0000;">About IIT Madras</h1> 
      <div class="AboutContent">
     <p style="text-indent: 80px;"> Indian Institute of Technology Madras is one among the foremost institutes of national importance in higher technological 
      education, basic and applied research. In 1956, the German Government offered technical assistance for establishing an institute 
      of higher education in engineering in India. The first Indo-German agreement in Bonn, West Germany for the establishment
       of the Indian Institute of Technology at Madras was signed in 1959.  </p>
      
       <p style="text-indent: 120px;"> The Institute was formally inaugurated in 1959 by Prof. Humayun Kabir, Union Minister for Scientific Research and Cultural 
      Affairs. The IIT system has sixteen Institutes of Technology. The first of these to be instituted are at Kharagpur (estb. 1951)
      , Mumbai (estb. 1958), Chennai (estb. 1959), Kanpur (estb. 1959), Delhi (estb. 1961), Guwahati (estb. 1994) and Roorkee
       (estb. 1847, joined IITs in 2001).  </p> 
      
       <p style="text-indent: 120px;">IIT Madras is a residential institute with nearly 550 faculty, 8000 students and 1250 administrative & supporting staff and 
      is a self-contained campus located in a beautiful wooded land of about 250 hectares. It has established itself as a premier 
      centre for teaching, research and industrial consultancy in the country. </p> 
      
      <p style="text-indent: 120px;">The Institute has sixteen academic departments and a few advanced research centres in various disciplines of engineering and
       pure sciences, with nearly 100 laboratories organised in a unique pattern of functioning. A faculty of international repute, 
       a brilliant student community, excellent technical & supporting staff and an effective administration have all contributed to
        the pre-eminent status of IIT Madras. The campus is located in the city of Chennai, previously known as Madras. Chennai is 
        the state capital of Tamilnadu, a southern state in India.</p>
      </div>


                  <h1 style="padding-left: 300px;color: #ff0000;">R and D</h1>
     <p style="text-indent: 120px;"> Chennai, January 6, 2017: Rural Electrification Corporation Limited (REC), A Govt. of India Navratna 
     Enterprise, has agreed to extend a financial assistance of Rs. 1450.00 Lakhs under CSR initiative to Indian Institute of Technology Madras
      (IIT Madras), for the project ‘Installation of 2 MW rooftop solar panel (SPV) in the academic zone and hostel building’ at IIT Madras campus 
      in Chennai, Tamil Nadu. The Memorandum of Agreement (MoA) in this regard was executed today between REC and IIT Madras. Ms. S. Jayanthi, Chief Project 
      Manager, REC and Prof. Krishnan Balasubramanian, Dean, Industrial Consultancy and Sponsored Research (ICSR), IIT Madras signed the MoA in the presence of other 
      senior officials of REC and IIT Madras including Prof. David Koilpillai, Dean Planning, IIT Madras and Prof. R. Nagarajan, Dean, International and Alumni Relations,
       IIT Madras, among others. Speaking about this CSR initiative, Ms. Jayanthi said, </p>
       <p style="text-indent: 120px;">“We are interested in increasing the generation and consumption of renewable energy all 
       over India. IIT Madras has great potential and expertise in this field and that is the reason we decided to support this particular project.” The main objective of
        the project is installation of 2.00 MW roof top solar PV system in the academic zone and hostel zone of IIT Madras for power generation in order to reduce peak demand
         from the grid in the campus and also carbon footprint and dependency on non-renewable energy sources. The energy generated by the solar panels will go to
          a centralized grid from where it will be distributed across Campus. “IIT Madras already has 1.1MW solar panels installed on the Campus rooftops. This will
           further help in reducing our dependency on conventional sources of energy. We are thankful to REC for sponsoring a large size project of this nature at IIT Madras 
           and funding it through their CSR channel,” added Prof. Balasubramanian. The installation of the solar panel is expected to take around 15 months. IIT Madras currently has
            CSR activities supported by over 20 companies. </p>



                    
            
            <h1 style="padding-left: 300px;color: #ff0000;">Placements</h1>
  
            <p style="text-indent: 120px;">  All students who expect to graduate from the Institute by the end of the academic year 2019-20 and are seeking employment may register
            3. MS & PhD scholars’ placement will happen round the year. Their registration will be valid for one year only. They can register by attaching a certificate (NOC) & Abstract in the prescribed format available in the Placement website.
            
            Inter-disciplinary (ID) students will be permitted to upload resumes for both the departments as approved at the time of admission to the program. The NoC for ID students must be signed by the guide from both the departments.
            </p>
            <p style="text-indent: 120px;">   Campus placement is a facility provided for the students. Registration is not compulsory. Students not interested in placement are advised not to register for placement.
            
            5. Backlogs: Students having backlog of 4 or more courses are not permitted to register for placement. Such students are advised to clear the backlogs and then register after the July-November end semester examinations. However, extended students can register in case of non-completion of course/project requirements in their last two semesters.
            
            6.  Students who have lost the job for genuine reasons will be allowed to re-register on a case to case basis.
            
            Students who have graduated in 2018, but not placed due to various genuine reasons, may be permitted to re-register with the approval of the concerned authorities. They will be permitted to appear for placement only from Day 3 or later, as approved by the Board of Placements.
            
            
            </p>
            
            <p style="text-indent: 120px;">  Students are advised to read the announcements made, go through the company website and apply only if interested.
            
            9. Students are expected to follow the institute resume template available in the placement website for preparing the resumes.
            
            10. The details given in the resume have to be genuine and any student found violating this rule will be disallowed from the placement for the rest of the academic year.
            
            
            12. Students are advised to avoid last minute uploading, as it may lead to delays and some may even be left out.
            
            </p>
           
            
             
            
            
            





    </div>
    </article>
    




    <aside >

     
        <div>
          <img src="iitm.jpg" alt="" id="one">
        </div>

     
    </aside>
   