


<article>
    <div>
     <h1 style="padding-left: 300px;color: #ff0000;">About IIT Roorkee </h1> 
      <div class="AboutContent">
     <p style="text-indent: 80px;"> Indian Institute of Technology - Roorkee is among the foremost of institutes of national
       importance in higher technological education and in engineering, basic and applied research. Since its establishment, 
       the Institute has played a vital role in providing the technical manpower and know-how to the country and in pursuit of
        research. The Institute ranks amongst the best technological institutions in the world and has contributed to all sectors 
        of technological development. It has also been considered a trend-setter in the area of education and research in the field 
        of science, technology, and engineering.  </p>
      
       <p style="text-indent: 120px;"> The Institute had celebrated its Sesquicentennial in October 1996 and now completed more
         than 170 years of its existence. It was converted to IIT on September 21, 2001 by an Ordinance issued by the Government 
         of India declared it as the nation’s seventh Indian Institute of Technology, an “Institution of National Importance”. 
        </p> 
      
       <p style="text-indent: 120px;">The Institute offers Bachelor's Degree courses in 10 disciplines of Engineering and 
        Architecture and Postgraduate's Degree in 55 disciplines of Engineering, Applied Science, Architecture and planning.
         The Institute has facility for doctoral work in all Departments and Research Centres. </p> 
      
      </div>


                  <h1 style="padding-left: 300px;color: #ff0000;">R and D</h1>
     <p style="text-indent: 120px;"> Sponsored Research (SR) and Industrial Consultancy (IC) are two important modes through
       which the faculty supports the development of knowledge and technology. Indian Institute of Technology recognizes Sponsored
        Research (SR) and Industrial Consultancy (IC) as the essential attributes of teaching and research. A full-fledged office 
        operating under Dean (SRIC) provides administrative and accounting support to the faculty undertaking sponsored research 
        and consultancy work.</p>

       <p style="text-indent: 120px;">Every department has faculty and students involved extensively in research activities. 
        Undergraduate education is greatly benefited by the environment of postgraduate programmes, while both the curricula 
        derives strength in a research environment created by doctoral and postdoctoral programmes.
        Not only the departments of the Institute, the various academic centers are also involved in research activities, 
        in order to contribute and benefit from the advances in knowledge frontiers, which will help generate state-of-the-art
         technologies responding to the need of the country. </p>



                    
            
            <h1 style="padding-left: 300px;color: #ff0000;">Placements</h1>
  
            <p style="text-indent: 120px;"> The Company/Organization should fill in the Job Announcement Form (JAF) and
               submit it to the Placement & Internship Cell either as an email (placement.iitr@gmail.com or placement@iitr.ac.in),
                or a hard copy. The JAF serves as an introduction of the job profile for the candidates and also informs them of the
                 company’s requirements.
             </p>
            <p style="text-indent: 120px;"> The list of shortlisted students is to be mailed to the TPO by the company at least 2 days 
              prior to the campus selection date. The companies are required to also keep an extended shortlist prior to visiting the 
              campus for interviews as some students shortlisted by them may already get placed before the campus selection date assigned
               to the company. 
            </p>
            
            <p style="text-indent: 120px;"> The company visits the campus on scheduled dates and conducts the written/online test/ group 
              discussion/personal interview as a part of their selection procedure during the time allotted to them. It is important to
               understand that, on the same date, another company may be scheduled before/after yours and any shift is bound to cause 
               inconvenience to self and others. So, the company is required to finish their whole process strictly within the time slot 
               allotted to them.
            </p>
    </div>
    </article>
    

    <aside >

     
        <div>
          <img src="iitr.jpg" alt="" id="one">
        </div>

     
    </aside>
   
   